<%= require('@parts/header.ejs')({title: 'Frontpage' }) %>

<main class="homepage" id="root">
    <section class="article">
        <div class="container">
            <div class="breadcrumbs">
                <a href="">Главная</a>
                <span>
                    Внутренняя страница акции
                </span>
            </div>
            <div class="article__wrapper">
                <div class="article__image">
                    <img src="<%=require('@img/article-img.jpg') %>" alt="">
                    <a href="" class="article__link">
                        Смотреть все услуги
                    </a>
                </div>
                <h1>
                    Скидка 15% на все доп. услуги 
                </h1>
                <p>
                    Кроме чистого воздуха и красоты окружающих пейзажей для хорошего отдыха необходимы комфортные условия проживания и современные атрибуты цивилизации. На базе отдыха «Ургун» Республики Башкортостан к услугам отдыхающих предоставлен современный 3-х этажный жилой корпус, который способен вместить в себя до 130 посетителей.
                </p>
                <p>
                    Кроме чистого воздуха и красоты окружающих пейзажей для хорошего отдыха необходимы комфортные условия проживания и современные атрибуты цивилизации. На базе отдыха «Ургун» Республики Башкортостан к услугам отдыхающих предоставлен современный 3-х этажный жилой корпус, который способен вместить в себя до 130 посетителей.
                </p>
                <p>
                    Кроме чистого воздуха и красоты окружающих пейзажей для хорошего отдыха необходимы комфортные условия проживания и современные атрибуты цивилизации. На базе отдыха «Ургун» Республики Башкортостан к услугам отдыхающих предоставлен современный 3-х этажный жилой корпус, который способен вместить в себя до 130 посетителей.
                </p>
                <p>
                    <strong>
                        Кроме чистого воздуха и красоты окружающих пейзажей для хорошего отдыха необходимы комфортные условия проживания и современные атрибуты цивилизации. На базе отдыха «Ургун» Республики <br> Башкортостан к услугам отдыхающих предоставлен современный 3-х этажный жилой корпус, который способен вместить в себя до 130 посетителей.
                    </strong>
                </p>
            </div>
        </div>
    </section>
</main>
<%= require('@parts/footer.ejs')() %>