<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>

<body>

    <header class="header">
        <div class="headline">
            <div class="headline__top">
                <div class="container">
                    <div class="headline__top-row">
                        <div class="headline__socials">
                            <div class="headline__socials-group">
                                <a href="" class="headline__socials-item">
                                    <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.87076 7.94971H7.71958C7.71958 7.94971 7.97423 7.90742 8.10155 7.78057C8.22888 7.65371 8.22887 7.39999 8.22887 7.39999C8.22887 7.39999 8.22888 6.30057 8.73817 6.13142C9.24746 5.96228 9.92652 7.23085 10.6056 7.69599C11.1149 8.07656 11.4968 7.99199 11.4968 7.99199L13.3643 7.94971C13.3643 7.94971 14.3404 7.90742 13.8736 7.10399C13.8311 7.06171 13.6189 6.55428 12.473 5.49714C11.2846 4.39771 11.4544 4.60914 12.855 2.70628C13.7038 1.56457 14.0433 0.887999 13.9584 0.549714C13.8736 0.253714 13.2369 0.338285 13.2369 0.338285H11.1149C11.1149 0.338285 10.9451 0.296 10.8602 0.380571C10.7329 0.465142 10.6905 0.591999 10.6905 0.591999C10.6905 0.591999 10.3509 1.48 9.92652 2.24114C8.99282 3.80571 8.61085 3.89028 8.48352 3.80571C8.14399 3.59428 8.22887 2.87543 8.22887 2.41028C8.22887 0.887999 8.48352 0.253714 7.76202 0.0845709C7.54982 0.0422852 7.38005 0 6.78587 0C6.02193 0 5.38531 -1.63827e-07 5.04579 0.169143C4.79114 0.296 4.62137 0.549714 4.7487 0.549714C4.87602 0.549714 5.21555 0.634285 5.38532 0.845714C5.55508 1.22628 5.55508 1.86057 5.55508 1.86057C5.55508 1.86057 5.6824 3.67885 5.25799 3.89028C4.9609 4.05942 4.57893 3.72114 3.73011 2.28343C3.3057 1.56457 2.96617 0.718856 2.96617 0.718856C2.96617 0.718856 2.92373 0.549714 2.7964 0.465143C2.66908 0.380571 2.45687 0.338285 2.45687 0.338285H0.462137C0.462137 0.338285 0.165049 0.338286 0.0377255 0.465143C-0.0471569 0.592 0.0377255 0.803428 0.0377255 0.803428C0.0377255 0.803428 1.60805 4.44 3.39058 6.30057C5.04579 8.07656 6.87076 7.94971 6.87076 7.94971Z" fill="white"/>
                                    </svg>                                        
                                </a>
                                <a href="" class="headline__socials-item">
                                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.95952 2.95155C9.95393 2.53167 9.87532 2.11596 9.72723 1.72303C9.59881 1.39159 9.40266 1.09059 9.15132 0.839245C8.89998 0.587905 8.59897 0.391757 8.26753 0.263333C7.87965 0.117728 7.46987 0.0389962 7.05565 0.0304912C6.52233 0.00665266 6.35324 0 4.99943 0C3.64562 0 3.4721 3.71744e-08 2.94266 0.0304912C2.52862 0.0390587 2.11904 0.117789 1.73133 0.263333C1.39984 0.391667 1.09879 0.587784 0.847437 0.839136C0.596085 1.09049 0.399968 1.39154 0.271634 1.72303C0.125737 2.11062 0.047176 2.5203 0.0393464 2.93436C0.0155078 3.46823 0.00830078 3.63732 0.00830078 4.99113C0.00830078 6.34494 0.00830078 6.51791 0.0393464 7.0479C0.0476621 7.46258 0.12583 7.87172 0.271634 8.26034C0.400183 8.59173 0.596446 8.89266 0.847882 9.14391C1.09932 9.39515 1.4004 9.59119 1.73188 9.71948C2.11853 9.87094 2.52819 9.95531 2.94322 9.96896C3.47709 9.99279 3.64618 10 4.99999 10C6.3538 10 6.52732 10 7.05676 9.96896C7.47097 9.9608 7.88077 9.88225 8.26864 9.73667C8.59999 9.6081 8.90092 9.4119 9.15224 9.16057C9.40357 8.90925 9.59977 8.60832 9.72834 8.27697C9.87414 7.8889 9.95231 7.47977 9.96063 7.06453C9.98446 6.53121 9.99167 6.36212 9.99167 5.00776C9.99056 3.65395 9.99056 3.48209 9.95952 2.95155ZM4.99611 7.55128C3.58021 7.55128 2.43318 6.40426 2.43318 4.98836C2.43318 3.57246 3.58021 2.42544 4.99611 2.42544C5.67584 2.42544 6.32772 2.69546 6.80837 3.1761C7.28901 3.65674 7.55903 4.30863 7.55903 4.98836C7.55903 5.66809 7.28901 6.31998 6.80837 6.80062C6.32772 7.28126 5.67584 7.55128 4.99611 7.55128ZM7.66104 2.92826C7.58253 2.92834 7.50479 2.91293 7.43225 2.88292C7.35971 2.85291 7.2938 2.80889 7.23829 2.75338C7.18278 2.69788 7.13876 2.63196 7.10875 2.55942C7.07874 2.48688 7.06333 2.40914 7.06341 2.33064C7.06341 2.25219 7.07886 2.17451 7.10888 2.10204C7.1389 2.02957 7.1829 1.96371 7.23837 1.90825C7.29384 1.85278 7.35969 1.80878 7.43216 1.77876C7.50464 1.74874 7.58231 1.73329 7.66076 1.73329C7.7392 1.73329 7.81688 1.74874 7.88935 1.77876C7.96183 1.80878 8.02768 1.85278 8.08315 1.90825C8.13862 1.96371 8.18262 2.02957 8.21264 2.10204C8.24266 2.17451 8.25811 2.25219 8.25811 2.33064C8.25811 2.66105 7.9909 2.92826 7.66104 2.92826Z" fill="white"/>
                                        <path d="M4.99612 6.65337C5.91557 6.65337 6.66094 5.908 6.66094 4.98855C6.66094 4.0691 5.91557 3.32373 4.99612 3.32373C4.07666 3.32373 3.3313 4.0691 3.3313 4.98855C3.3313 5.908 4.07666 6.65337 4.99612 6.65337Z" fill="white"/>
                                    </svg>                                                                              
                                </a>
                                <a href="" class="headline__socials-item">
                                    <svg width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 4V2.8C4 2.28 4.12 2 4.96 2H6V0H4.4C2.4 0 1.6 1.32 1.6 2.8V4H0V6H1.6V12H4V6H5.76L6 4H4Z" fill="white"/>
                                    </svg>                                                                                                                    
                                </a>
                            </div>
                            <p class="headline__socials-txt">
                                База отдыха, на берегу озера Ургун
                            </p>
                        </div>
                        <a href="/" class="headline__logo">
                            <img src="<%=require('@img/logo.svg') %>" alt="">
                        </a>
                        <div class="headline__contacts">
                            <div class="headline__contacts-group">
                                <div class="headline__contacts-item">
                                    <a href="mailto:info@urgun.ru" class="headline__contacts-info">
                                        info@urgun.ru
                                    </a> <br>
                                    <a href="" class="headline__contacts-link">
                                        Схема проезда
                                    </a>
                                </div>
                                <div class="headline__contacts-item">
                                    <a href="tel:8 (906) 371-43-00 " class="headline__contacts-info">
                                        8 (906) 371-43-00 
                                    </a> <br>
                                    <button class="headline__contacts-link js--openModal">
                                        Заказать звонок
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="mob-header">
        <a href="/" class="mob-header__logo">
            <img src="<%=require('@img/logo-wh.svg') %>" alt="">
        </a>
        <button class="mob-header__burger">
            <span></span><span></span><span></span>
        </button>
    </div>
    <div class="mob-nav">
        <ul class="mob-nav__list">
            <li>
                <a href="index.html#about">О нас</a>
            </li>
            <li>
                <a href="index.html#rent">Номера</a>
            </li>
            <li>
                <a href="index.html#price">Прайс-лист</a>
            </li>
            <li>
                <a href="index.html#gallery">Галлерея</a>
            </li>
            <li>
                <a href="index.html#faq">Вопрос-ответ</a>
            </li>
            <li>
                <a href="index.html#contacts">Схема проезда</a>
            </li>
        </ul>
        <div class="headline__contacts-item">
            <a href="mailto:info@urgun.ru" class="headline__contacts-info">
                info@urgun.ru
            </a> <br>
            <a href="" class="headline__contacts-link">
                Схема проезда
            </a>
        </div>
        <div class="headline__contacts-item">
            <a href="tel:8 (906) 371-43-00 " class="headline__contacts-info">
                8 (906) 371-43-00 
            </a> <br>
            <button class="headline__contacts-link">
                Заказать звонок
            </button>
        </div>
        <div class="headline__socials-group">
            <a href="" class="headline__socials-item">
                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.87076 7.94971H7.71958C7.71958 7.94971 7.97423 7.90742 8.10155 7.78057C8.22888 7.65371 8.22887 7.39999 8.22887 7.39999C8.22887 7.39999 8.22888 6.30057 8.73817 6.13142C9.24746 5.96228 9.92652 7.23085 10.6056 7.69599C11.1149 8.07656 11.4968 7.99199 11.4968 7.99199L13.3643 7.94971C13.3643 7.94971 14.3404 7.90742 13.8736 7.10399C13.8311 7.06171 13.6189 6.55428 12.473 5.49714C11.2846 4.39771 11.4544 4.60914 12.855 2.70628C13.7038 1.56457 14.0433 0.887999 13.9584 0.549714C13.8736 0.253714 13.2369 0.338285 13.2369 0.338285H11.1149C11.1149 0.338285 10.9451 0.296 10.8602 0.380571C10.7329 0.465142 10.6905 0.591999 10.6905 0.591999C10.6905 0.591999 10.3509 1.48 9.92652 2.24114C8.99282 3.80571 8.61085 3.89028 8.48352 3.80571C8.14399 3.59428 8.22887 2.87543 8.22887 2.41028C8.22887 0.887999 8.48352 0.253714 7.76202 0.0845709C7.54982 0.0422852 7.38005 0 6.78587 0C6.02193 0 5.38531 -1.63827e-07 5.04579 0.169143C4.79114 0.296 4.62137 0.549714 4.7487 0.549714C4.87602 0.549714 5.21555 0.634285 5.38532 0.845714C5.55508 1.22628 5.55508 1.86057 5.55508 1.86057C5.55508 1.86057 5.6824 3.67885 5.25799 3.89028C4.9609 4.05942 4.57893 3.72114 3.73011 2.28343C3.3057 1.56457 2.96617 0.718856 2.96617 0.718856C2.96617 0.718856 2.92373 0.549714 2.7964 0.465143C2.66908 0.380571 2.45687 0.338285 2.45687 0.338285H0.462137C0.462137 0.338285 0.165049 0.338286 0.0377255 0.465143C-0.0471569 0.592 0.0377255 0.803428 0.0377255 0.803428C0.0377255 0.803428 1.60805 4.44 3.39058 6.30057C5.04579 8.07656 6.87076 7.94971 6.87076 7.94971Z" fill="white"/>
                </svg>                                        
            </a>
            <a href="" class="headline__socials-item">
                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.95952 2.95155C9.95393 2.53167 9.87532 2.11596 9.72723 1.72303C9.59881 1.39159 9.40266 1.09059 9.15132 0.839245C8.89998 0.587905 8.59897 0.391757 8.26753 0.263333C7.87965 0.117728 7.46987 0.0389962 7.05565 0.0304912C6.52233 0.00665266 6.35324 0 4.99943 0C3.64562 0 3.4721 3.71744e-08 2.94266 0.0304912C2.52862 0.0390587 2.11904 0.117789 1.73133 0.263333C1.39984 0.391667 1.09879 0.587784 0.847437 0.839136C0.596085 1.09049 0.399968 1.39154 0.271634 1.72303C0.125737 2.11062 0.047176 2.5203 0.0393464 2.93436C0.0155078 3.46823 0.00830078 3.63732 0.00830078 4.99113C0.00830078 6.34494 0.00830078 6.51791 0.0393464 7.0479C0.0476621 7.46258 0.12583 7.87172 0.271634 8.26034C0.400183 8.59173 0.596446 8.89266 0.847882 9.14391C1.09932 9.39515 1.4004 9.59119 1.73188 9.71948C2.11853 9.87094 2.52819 9.95531 2.94322 9.96896C3.47709 9.99279 3.64618 10 4.99999 10C6.3538 10 6.52732 10 7.05676 9.96896C7.47097 9.9608 7.88077 9.88225 8.26864 9.73667C8.59999 9.6081 8.90092 9.4119 9.15224 9.16057C9.40357 8.90925 9.59977 8.60832 9.72834 8.27697C9.87414 7.8889 9.95231 7.47977 9.96063 7.06453C9.98446 6.53121 9.99167 6.36212 9.99167 5.00776C9.99056 3.65395 9.99056 3.48209 9.95952 2.95155ZM4.99611 7.55128C3.58021 7.55128 2.43318 6.40426 2.43318 4.98836C2.43318 3.57246 3.58021 2.42544 4.99611 2.42544C5.67584 2.42544 6.32772 2.69546 6.80837 3.1761C7.28901 3.65674 7.55903 4.30863 7.55903 4.98836C7.55903 5.66809 7.28901 6.31998 6.80837 6.80062C6.32772 7.28126 5.67584 7.55128 4.99611 7.55128ZM7.66104 2.92826C7.58253 2.92834 7.50479 2.91293 7.43225 2.88292C7.35971 2.85291 7.2938 2.80889 7.23829 2.75338C7.18278 2.69788 7.13876 2.63196 7.10875 2.55942C7.07874 2.48688 7.06333 2.40914 7.06341 2.33064C7.06341 2.25219 7.07886 2.17451 7.10888 2.10204C7.1389 2.02957 7.1829 1.96371 7.23837 1.90825C7.29384 1.85278 7.35969 1.80878 7.43216 1.77876C7.50464 1.74874 7.58231 1.73329 7.66076 1.73329C7.7392 1.73329 7.81688 1.74874 7.88935 1.77876C7.96183 1.80878 8.02768 1.85278 8.08315 1.90825C8.13862 1.96371 8.18262 2.02957 8.21264 2.10204C8.24266 2.17451 8.25811 2.25219 8.25811 2.33064C8.25811 2.66105 7.9909 2.92826 7.66104 2.92826Z" fill="white"/>
                    <path d="M4.99612 6.65337C5.91557 6.65337 6.66094 5.908 6.66094 4.98855C6.66094 4.0691 5.91557 3.32373 4.99612 3.32373C4.07666 3.32373 3.3313 4.0691 3.3313 4.98855C3.3313 5.908 4.07666 6.65337 4.99612 6.65337Z" fill="white"/>
                </svg>                                                                              
            </a>
            <a href="" class="headline__socials-item">
                <svg width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 4V2.8C4 2.28 4.12 2 4.96 2H6V0H4.4C2.4 0 1.6 1.32 1.6 2.8V4H0V6H1.6V12H4V6H5.76L6 4H4Z" fill="white"/>
                </svg>                                                                                                                    
            </a>
        </div>
    </div>